.y-loading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.y-loading--right {
  flex-direction: row;
}

.y-loading__spinner {
  flex-shrink: 0;
}

.y-loading__custom-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: y-rotate 0.8s linear infinite;
}

.y-loading__text {
  margin-top: 8px;
  line-height: 1.4;
}

.y-loading--right .y-loading__text {
  margin-top: 0;
  margin-left: 8px;
}

@keyframes y-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 遮罩层相关样式 */
.y-loading-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.y-loading-mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.y-loading-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2000;
}

/* 全屏样式 */
.y-loading-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.y-loading-fullscreen::before {
  background-color: rgba(255, 255, 255, 0.9);
} 